.cb {
    width:260px;
    height:300px;
    position:absolute;
    top:150px;
    left:400px;

}

.bb {
    width:400px;
    height:300px;
    position:absolute;
    top:150px;
    left:800px
}

table {
    width:80%;

}

h1 {
    background-color: antiquewhite;
    color: blue;
}

body {
    background-color: azure;
}

a {
    text-decoration: none;
    color:black;
}

#plane {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 300px;
  }

  #kitetsu {
    width:120px;
    height:180px;
    position:absolute;
    top:950px;

  }